/* CSS 언어를 사용할 수 있는 태그 */
/* 
table태그 : 너비 400px
tr태그 : 배경색 gray, 높이 50px (Step1~4)
tr태그 : 배경색 whitesmoke, 높이 35px
td태그 : 글자정렬 right (각 행의 제목에 해당하는 태그만)
textarea태그 : 크기조절 none
td태그 : 가운데정렬(마지막요소)
*/
@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}
body{
    font-family: "SUITE-Regular";
    
}
th{
    color:white;
    text-align: center;

}
table {
border: solid 3px black;
width : 400px;
}
.tr-tit{
background-color : black;
height : 50px;
}
.tr-content{
background-color : whitesmoke ;
height : 35px;

}
.tr-content > td:first-child{
text-align : center ;
}
.tr-content:last-child>td{
text-align : center;
}

.login{
    display: flex;
    justify-content: center;

}

.info{
    width:50px;
}
.info-login{


    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 20px;
}

.logo-img{
    width: 100px;
    margin-right: 20px;
}
