body{
    margin:0;
    
}

.swiper{
    height:100vh;
    margin-bottom: 0px;
}
#main-img{


    height: 200px;
}

.main-bar{
    display:flex;
    justify-content: center;
    height:100px;
    background-color :black;
    align-items: center;
}

#main-center{
    flex-basis: 50%;
}

.mainLeft, .mainRight{
    flex-basis: 35%;
    display: flex;
    justify-content: center;
    /* box-sizing: border-box; */

}


#main-logo{
    margin-right: 100px;

}

.main-bar a{
    text-decoration: none;
    color:white;
}

.user-icon{
    margin-right: 10px;
    width:-1px;
    padding-right: 30px;
    /* display: flex; */

}
.main-icon{
    display: flex;
    align-items: center;

}



h1{
    width: 60%;
    height: 100px;
    margin: 0;
     box-sizing: border-box;

    
    text-align : center ;
    font-size : 40px;
    line-height: 100px;
   }

#logo{
    
    line-height: 75px;
    display: flex;
    justify-content: center;
    margin-left: 250px;
   


} 


#header{
    width:85%;
    display: flex;
    justify-content: center;
    align-items: center;

}


.swiper .swiper-slide{

    height : 100vh;
}
.swiper-wrapper{
    width: 100%;
    height: 100%;
   
}
.swiper-slide{
    display:flex;
    justify-content: center;
}


.imgClass{

    width: 100%;
    height: 85%;
    align-items: center;
    background-size: cover;

}

.swiper-backface-hidden .swiper-slide {
    transform: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}



@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

.popUp{
    display: none;
    border: 1px solid;
    box-sizing: border-box;
    padding: 10px;
    width:170px;
    height:325px;
    position: absolute;
    background-color: white;
    z-index: 2;
    /* opacity: 0.5; */
}
.popUp a{
    display:block; height:5px; line-height:20px; color:#555; text-decoration:none;font-size:15px;
}
.popUp span{
    padding:2px 5px; color:black; font-weight:bold; margin-right:3px; font-family:musinsa-Medium;
}


/* 인기검색어 슬라이드 */
.block {
    display: inline-block;
    box-sizing: border-box;
    margin-top: -9px;
    margin-right: 50px;
    /* margin-left: 1000px; */
    padding:0 5px;
    height:30px;

    overflow:hidden; 
    background:black; 
    font-family:SUITE-Regular; 
    font-size:20px;

}
.block ul,
.block li {margin:0; padding:5px; list-style:none;}
.block li a {display:block; height:20px; line-height:20px; color:#f7efef; text-decoration:none;}
.block li span {padding:2px 5px; color:rgb(245, 238, 238); font-weight:bold; margin-right:3px; font-family:musinsa-Medium;}
